In [1]:
import pyspark
from pyspark.sql import SparkSession, types
import pandas as pd

In [2]:
spark = SparkSession.builder \
    .master("spark://Weis-MacBook-Air.local:7077") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/07 02:16:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [4]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [5]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [6]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [7]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [8]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [9]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [10]:
common_columns = []

yellow_columns = set(df_yellow.columns)
for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)
common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [11]:
from pyspark.sql import functions as F

In [12]:
df_green_sel = df_green \
    .select(common_columns) \
    .withColumn('service_type', F.lit('green'))

In [13]:
df_yellow_sel = df_yellow \
    .select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

In [14]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [15]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2802806|
|      yellow|55552571|
+------------+--------+

In [16]:
df_trips_data.registerTempTable('trips_data')

/opt/homebrew/Cellar/apache-spark/3.3.0/libexec/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [17]:
spark.sql("""
SELECT service_type, count(1) FROM trips_data group by service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2802806|
|      yellow|55552571|
+------------+--------+

In [18]:
df_result = spark.sql("""
    SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 
    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,
    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [19]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         252|2020-02-01 00:00:00|       green|   4542.539999999999|                289.5|                   22.0|        16.520000000000003|           265.4500000000001|                   43.199999999999946|          5181.1600000000035|                                 0.0|        1.1111111111111112|       7.692185430463574|
|         206|2020-02-01 00:00:00|       green|   829.9699999999999|                 33.0|                    1.5|                     23.34|                      190.88|                    4.499999999999999|                     1083.19|                                 0.0|                       1.0|      15.768666666666665|
|          56|2020-03-01 00:00:00|       green|   8210.529999999997|                80.25|                  110.0|        107.08000000000001|           302.1700000000001|                   146.39999999999932|           8988.480000000021|                                 5.5|        1.2560553633217992|      3.9149448529411757|
|          58|2020-03-01 00:00:00|       green|  380.40999999999997|                 3.75|                    4.0|                     10.86|                        6.12|                    5.699999999999999|          410.84000000000003|                                 0.0|                       1.0|      6.1747826086956525|
|          79|2020-03-01 00:00:00|       green|   644.3999999999999|                  5.5|                    0.5|                       0.0|                        30.6|                    5.999999999999999|                       687.0|                                 0.0|                       1.0|      10.836500000000001|
|         173|2020-01-01 00:00:00|       green|  15830.269999999999|                862.0|                  377.0|                    262.91|          384.53000000000026|                    297.3000000000055|           18040.70999999981|                               30.25|        1.4243589743589744|       3.201485608170848|
|          31|2020-01-01 00:00:00|       green|  2036.7800000000009|                104.5|                   28.5|        133.46999999999997|           68.55999999999999|                   27.900000000000045|          2427.2099999999996|                                27.5|        1.1551724137931034|       5.635959595959595|
|         126|2020-02-01 00:00:00|       green|   7159.769999999992|                583.0|                   80.0|                     29.73|           234.4400000000001|                    97.49999999999943|           8191.340000000015|                                 0.0|        1.1764705882352942|       4.280221606648199|
|         246|2020-02-01 00:00:00|       green|              505.92|                 38.5|                    0.0|                      6.32|                       26.76|                    4.199999999999999|                       581.7|                                 0.0|                       2.0|       11.36142857142857|
|         171|2020-03-01 00:00:00|       green|             5354.58|                27.25|                   21.0|        19.990000000000002|          316.68000000000006|                    63.60000000000008|                      5846.9|                                8.25|        1.2105263157894737|       7.585023041474654|
|          38|2020-01-01 00:00:00|       green|  12386.740000000013|                698.0|                   67.0|                       0.0|           281.5200000000001|                   116.69999999999925|          13549.959999999975|                                 0.0|        1.2823529411764707|       7.618925233644858|
|         165|2020-01-01 00:00:00|       green|  24802.129999999972|               1549.0|                  189.5|        101.14999999999999|           495.9500000000004|                   268.80000000000445|          27427.279999999944|                                11.0|        1.1891891891891893|      4.4626660250240615|
|         167|2020-03-01 00:00:00|       green|             8938.82|               108.75|                  120.0|         57.72999999999999|          366.32000000000016|                   155.39999999999924|           9815.470000000023|                                19.0|        1.1972789115646258|        4.02096539162113|
|         134|2020-03-01 00:00:00|       green|  21972.730000000003|                726.0|                  764.0|        1804.6400000000012|           319.7400000000001|                    524.1000000000083|          26199.459999999817|                                55.0|        1.3438914027149322|      3.3626381766381757|
|         259|2020-03-01 00:00:00|       green|   6320.669999999998|                 26.5|                   23.5|                       0.0|          448.09000000000015|                    78.29999999999997|           6915.810000000005|                                 0.0|                       1.0|      113.93206106870228|
|         216|2020-03-01 00:00:00|       green|              8725.1|                97.25|                   57.0|                     49.62|           271.5300000000001|                    117.2999999999996|            9345.05000000001|                                 5.5|         1.210144927536232|       6.865841836734694|
|         265|2020-02-01 00:00:00|       green|  12431.599999999991|   359.09000000000003|                  118.0|                    353.03|           461.3600000000002|                    98.69999999999942|          13827.279999999972|                                2.75|        1.5217391304347827|       8.645274725274728|
|          92|2020-01-01 00:00:00|       green|   67252.83999999972|              2700.75|                 1326.0|        3052.7699999999995|           1289.559999999996|                   1034.9999999999345|           76792.72000000256|                              129.25|        1.1726539589442815|       4.553793490460171|
|         215|2020-02-01 00:00:00|       green|  25575.920000000126|               1957.0|                  101.0|        23.360000000000003|           708.0100000000002|                    238.2000000000033|           28619.78999999998|                                 5.5|        1.2751322751322751|       6.560034602076135|
|           7|2020-01-01 00:00:00|       green|   169074.5199999997|              7929.25|                 7443.5|        12952.749999999973|          1746.7599999999888|                    4730.700000001408|          207287.27999996967|                             3448.25|        1.4415973377703828|      2.2922463269771725|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

[Stage 10:>                                                         (0 + 1) / 1]

In [41]:
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')